* {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	box-sizing: border-box;
}

.container {
	width: 100%;
	min-height: 100vh;
	background: rgb(87, 87, 151); 
	padding: 12px;
}

.taskflow-manager {
	width: 100%;
	max-width: 500px;
	background: rgba(244, 241, 221, 0.948);
	margin: 100px auto 30px; 
	padding: 50px 40px 80px; 
	border-radius: 15px;
}
.taskflow-manager h2{
	color:rgb(21, 61, 125);
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #edeef0;
	border-radius: 25px;
	padding-left: 20px; 
	margin-bottom: 25px; 
}

input {
	flex: 1;
	border: none;
	outline-style: none;
	background: transparent;
	padding: 10px; 
	font-weight: bold; 
}

.add-button {
	border: none;
	outline: none;
	padding: 15px 35px;
	background: hsl(182, 68%, 29%);
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	border-radius: 40px;
	transition: background 0.3s ease;
  }
  .add-button:hover {
	background: hwb(183 50% 15%);
  }
  
  #priority-level {
	appearance: none;
	border: 1px solid gray;
	font: inherit;
	width: 100px;
	padding: 10px 10px 10px 10px;
	color: inherit;
	border-radius: 0.25em;
	box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
	option {
	  color: whitesmoke;
	  background-color: rgb(87, 87, 151);
	}
  }
  
  .task-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid #ccc;
	padding: 10px;
	margin: 10px 0;
	border-radius: 10px;
	background-color: #fffbe6;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .task-info {
	flex: 1;
	padding: 10px;
  }
  
  .task-header {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 25px;
  }
  
  .task-display {
	border: 2px solid black;
	border-radius: 10px;
	padding: 20px;
	min-height: 150px;
	margin: 0 auto;
	width: 80%;
	background-color: #fdfdfd;
	box-shadow: 0 0 10px rgba(0, 0, 0);
  }
  .priority.low {
	color: green;
	font-size: 15px;
  }
  
  .priority.medium {
	color: orange;
  }
  
  .priority.high {
	color: red;
	font-weight: bold;
  }
  
  .task-button {
	width: 30px;
	height: 30px;
	border: none;
	background-color: #f0f0f0;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s;
  }
  
  .task-button:hover {
	background-color: #ddd;
  }
  .completed {
	text-decoration: line-through;
	opacity: 0.6;
	background-color: green;
  }
  